* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(14, 184, 141);
}

main{
    background-color: white;
    width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.281);
}

img.centro{
   align-items: center;
}

h1{
    font-size: 3em;
    color: rgb(68, 7, 167);
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 1.5em;
    color:rgb(68, 7, 167) ;
}